In [1]:

import rdflib
from rdflib import Graph, Namespace, URIRef, Literal, BNode
from rdflib.namespace import NamespaceManager
from rdflib.namespace import RDF, RDFS, SKOS, XSD, OWL

import pandas as pd

# Load the CD description

In [2]:
source_file_1 = '../data/output/cdi_profile_EMP.ttl'
g1 = Graph()
g1.parse(source_file_1, format="turtle")

g2 = Graph()
source_file_2 = '../data/output/cdi_profile_GDP.ttl'
g2.parse(source_file_2, format="turtle")


## Target code lists
g_cl_geography = Graph()
source_file_cl_geography = '../data/input/dagstuhl2024/undata_codelists_skos/cl_geography_skos.ttl'
g_cl_geography.parse(source_file_cl_geography, format="ttl")

g_cl_economic_activity = Graph()
source_file_cl_economic_activity = '../data/input/dagstuhl2024/undata_codelists_skos/cl_economic_activity_skos.ttl'
g_cl_economic_activity.parse(source_file_cl_economic_activity, format="ttl")

g_cl_sex = Graph()
source_file_cl_sex = '../data/input/dagstuhl2024/undata_codelists_skos/cl_sex_skos.ttl'
g_cl_sex.parse(source_file_cl_sex, format="ttl")

## Query the dci description of source datasets:

#### Dimensional data structure

In [3]:
query_dim_data_structures = """
    SELECT ?dds ?dc ?specialization ?rep_var ?rep_var_label ?substantive_value_domain
    WHERE {
        ?dds a cdi:DimensionalDataStructure  .
        ?dds cdi:hasComponent ?dc .
        OPTIONAL { ?dc cdi:DataStructureComponent-specialization ?specialization . }
        ?dc cdi:DataStructureComponent_isDefinedBy_RepresentedVariable ?rep_var  .
        ?rep_var rdfs:label ?rep_var_label . 
        OPTIONAL { ?rep_var cdi:RepresentedVariable_takesSubstantiveValuesFrom_SubstantiveValueDomain ?substantive_value_domain . }

    }
"""

In [4]:
dimensional_structure_1 = [(
    str(row.dds), 
    str(row.dc), 
    str(row.specialization), 
    str(row.rep_var), 
    str(row.rep_var_label),
    str(row.substantive_value_domain)
) for row in g1.query(query_dim_data_structures)]

dimensional_structure_1 = pd.DataFrame(dimensional_structure_1, columns=[
    "Dimensional Data Structure", 
    "Dimensional Component", 
    "Specialization", 
    "Defined By",
    "Label",
    "Code List"
])

dimensional_structure_1

,Dimensional Data Structure,Dimensional Component,Specialization,Defined By,Label,Code List
0,http://example2.org/EMP/DSD,http://example2.org/DimensionComponent/ACTIVITY,None,http://example2.org/RepresentedVariable/ACTIVITY,Economic activity,http://example2.org/SubstantiveValueDomain/CL_...
1,http://example2.org/EMP/DSD,http://example2.org/DimensionComponent/COUNTRY,http://ddialliance.org/Specification/DDI-CDI/1...,http://example2.org/RepresentedVariable/COUNTRY,Country or area,http://example2.org/SubstantiveValueDomain/CL_...
2,http://example2.org/EMP/DSD,http://example2.org/DimensionComponent/SEX,None,http://example2.org/RepresentedVariable/SEX,Sex,http://example2.org/SubstantiveValueDomain/CL_SEX
3,http://example2.org/EMP/DSD,http://example2.org/DimensionComponent/YEAR,http://ddialliance.org/Specification/DDI-CDI/1...,http://example2.org/RepresentedVariable/YEAR,Year,None
4,http://example2.org/EMP/DSD,http://example2.org/MeasureComponent/POPULATIO...,None,http://example2.org/RepresentedVariable/POPULA...,Population,None
5,http://example2.org/EMP/DSD,http://example2.org/MeasureComponent/UNEMPLOYM...,None,http://example2.org/RepresentedVariable/UNEMPL...,Unemployment rate,None

In [5]:
dimensional_structure_2 = [(
    str(row.dds), 
    str(row.dc), 
    str(row.specialization), 
    str(row.rep_var), 
    str(row.rep_var_label),
    str(row.substantive_value_domain)
) for row in g2.query(query_dim_data_structures)]

dimensional_structure_2 = pd.DataFrame(dimensional_structure_2, columns=[
    "Dimensional Data Structure", 
    "Dimensional Component", 
    "Specialization", 
    "Defined By",
    "Label",
    "Code List"
])

dimensional_structure_2

,Dimensional Data Structure,Dimensional Component,Specialization,Defined By,Label,Code List
0,http://example1.org/GDP/DSD,http://example1.org/AttributeComponent/INDICATOR,None,http://example1.org/RepresentedVariable/INDICATOR,Indicator,None
1,http://example1.org/GDP/DSD,http://example1.org/AttributeComponent/UNIT_ME...,None,http://example1.org/RepresentedVariable/UNIT_M...,Unit of measurement,None
2,http://example1.org/GDP/DSD,http://example1.org/AttributeComponent/UNIT_MULT,None,http://example1.org/RepresentedVariable/UNIT_MULT,Unit multiplier,None
3,http://example1.org/GDP/DSD,http://example1.org/DimensionComponent/EC2,None,http://example1.org/RepresentedVariable/EC2,Economic activity at 2-digit level,http://example1.org/SubstantiveValueDomain/CL_EC2
4,http://example1.org/GDP/DSD,http://example1.org/DimensionComponent/REF_AREA,http://ddialliance.org/Specification/DDI-CDI/1...,http://example1.org/RepresentedVariable/REF_AREA,Reference area,http://example1.org/SubstantiveValueDomain/CL_...
5,http://example1.org/GDP/DSD,http://example1.org/DimensionComponent/TIME_PE...,http://ddialliance.org/Specification/DDI-CDI/1...,http://example1.org/RepresentedVariable/TIME_P...,Time period,None
6,http://example1.org/GDP/DSD,http://example1.org/MeasureComponent/VALUE,None,http://example1.org/RepresentedVariable/VALUE,Value,None

#### Code lists

In [6]:
query_code_list = """
    SELECT ?code ?label ?notation ?scheme
    WHERE {
        ?code a skos:Concept .
        ?code skos:notation ?notation .
        ?code skos:prefLabel ?label .
        ?code skos:inScheme ?scheme .
    }
"""

In [7]:
code_list_1 = [(str(row.scheme), str(row.code), str(row.notation), str(row.label)) for row in g1.query(query_code_list)]
code_list_1 = pd.DataFrame(code_list_1, columns=["Code List","Code", "Notation", "Label"])
code_list_1

,Code List,Code,Notation,Label
0,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_ACTIVITY/ISIC4_A01,ISIC4_A01,"01 - Crop and animal production, hunting and r..."
1,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_ACTIVITY/ISIC4_A02,ISIC4_A02,02 - Forestry and logging
2,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_ACTIVITY/ISIC4_A03,ISIC4_A03,03 - Fishing and aquaculture
3,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/12,12,Algeria
4,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/16,16,American Samoa
5,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/20,20,Andorra
6,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/24,24,Angola
7,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/28,28,Antigua and Barbuda
8,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/31,31,Azerbaijan
9,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/32,32,Argentina
10,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/36,36,Australia
11,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/4,4,Afghanistan
12,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/40,40,Austria
13,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/51,51,Armenia
14,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/533,533,Aruba
15,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/660,660,Anguilla
16,http://example2.org/SubstantiveValueDomain/CL_...,http://example2.org/Concept/CL_COUNTRY/8,8,Albania
17,http://example2.org/SubstantiveValueDomain/CL_SEX,http://example2.org/Concept/CL_SEX/F,F,Female
18,http://example2.org/SubstantiveValueDomain/CL_SEX,http://example2.org/Concept/CL_SEX/M,M,Male
19,http://example2.org/SubstantiveValueDomain/CL_SEX,http://example2.org/Concept/CL_SEX/T,T,Total

In [8]:
code_list_2 = [(str(row.scheme), str(row.code), str(row.notation), str(row.label)) for row in g2.query(query_code_list)]
code_list_2 = pd.DataFrame(code_list_2, columns=["Code List","Code", "Notation", "Label"])
code_list_2

,Code List,Code,Notation,Label
0,http://example1.org/SubstantiveValueDomain/CL_EC2,http://example1.org/Concept/CL_EC2/EC2_ISIC3_A01,EC2_ISIC3_A01,"01 - Agriculture, hunting and related service ..."
1,http://example1.org/SubstantiveValueDomain/CL_EC2,http://example1.org/Concept/CL_EC2/EC2_ISIC3_A02,EC2_ISIC3_A02,"02 - Forestry, logging and related service act..."
2,http://example1.org/SubstantiveValueDomain/CL_EC2,http://example1.org/Concept/CL_EC2/EC2_ISIC3_B05,EC2_ISIC3_B05,"05 - Fishing, aquaculture and service activiti..."
3,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/ABW,ABW,Aruba
4,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AFG,AFG,Afghanistan
5,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AGO,AGO,Angola
6,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AIA,AIA,Anguilla
7,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/ALB,ALB,Albania
8,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AND,AND,Andorra
9,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/ARG,ARG,Argentina
10,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/ARM,ARM,Armenia
11,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/ASM,ASM,American Samoa
12,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/ATG,ATG,Antigua and Barbuda
13,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AUS,AUS,Australia
14,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AUT,AUT,Austria
15,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/AZE,AZE,Azerbaijan
16,http://example1.org/SubstantiveValueDomain/CL_...,http://example1.org/Concept/CL_REF_AREA/DZA,DZA,Algeria

## Tabulate target code lists

In [9]:
query_code_list_t = """
    SELECT ?code ?notation ?label ?scheme
    WHERE {
        ?code a skos:Concept .
        ?code skos:notation ?notation .
        ?code skos:prefLabel ?label .
        ?code skos:inScheme ?scheme .
    }
"""

In [10]:
code_list_geography = [
    (
        str(row.scheme),
        str(row.code), 
        str(row.notation),
        str(row.label)
    ) 
    for row in g_cl_geography.query(query_code_list_t)
]

code_list_geography = pd.DataFrame(
    code_list_geography, 
    columns=["Code List","Code", "Notation", "Label"]
)
code_list_geography

,Code List,Code,Notation,Label
0,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/C...,C00100000,World: All cities or breakdown by cities not a...
1,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/C...,C00200000,Africa: All cities or breakdown by cities not ...
2,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/C...,C00300000,Afghanistan: All cities or breakdown by cities...
3,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/C...,C00300001,Charikar
4,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/C...,C00300002,Farah
...,...,...,...,...
11390,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/S...,S00005520,Sampling station NH-10
11391,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/S...,S00005530,Sampling station First Landing
11392,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/S...,S00005540,Sampling station Cape Arago
11393,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/S...,S00005550,Sampling station Coastal Louisiana
11394,https://undata.un.org/enumerations/GEOGRAPHY,https://undata.un.org/enumerations/GEOGRAPHY/S...,S00005560,Sampling station COSTAL

In [11]:
code_list_economic_activity = [
    (
        str(row.scheme),
        str(row.code), 
        str(row.notation),
        str(row.label)
    ) 
    for row in g_cl_economic_activity.query(query_code_list_t)
]

code_list_economic_activity = pd.DataFrame(
    code_list_economic_activity, 
    columns=["Code List","Code", "Notation", "Label"]
)
code_list_economic_activity

,Code List,Code,Notation,Label
0,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ECO_AGGREGATE_CON,Construction
1,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ECO_AGGREGATE_MAN,Manufacturing
2,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ECO_AGGREGATE_MANEL,"Manufacturing; Electricity, gas and water supply"
3,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ECO_AGGREGATE_MEL,"Mining and quarrying; Electricity, gas and wat..."
4,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ECO_AGGREGATE_MKT,"Trade, Transportation, Accommodation and Food,..."
...,...,...,...,...
222,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ISIC4_TOTAL,Total or no breakdown (ISIC4)
223,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ISIC4_U,Activities of extraterritorial organizations a...
224,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ISIC4_U99,Activities of extraterritorial organizations a...
225,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,ISIC4_X,Not elsewhere classified (ISIC4)
226,https://undata.un.org/enumerations/ECONOMIC_AC...,https://undata.un.org/enumerations/ECONOMIC_AC...,_T,Total or no breakdown

In [12]:
code_list_sex = [
    (
        str(row.scheme),
        str(row.code), 
        str(row.notation),
        str(row.label)
    ) 
    for row in g_cl_sex.query(query_code_list_t)
]

code_list_sex = pd.DataFrame(
    code_list_sex, 
    columns=["Code List","Code", "Notation", "Label"]
)
code_list_sex

,Code List,Code,Notation,Label
0,https://undata.un.org/enumerations/SEX,https://undata.un.org/enumerations/SEX/F,F,Female
1,https://undata.un.org/enumerations/SEX,https://undata.un.org/enumerations/SEX/M,M,Male
2,https://undata.un.org/enumerations/SEX,https://undata.un.org/enumerations/SEX/NA,NA,Not applicable
3,https://undata.un.org/enumerations/SEX,https://undata.un.org/enumerations/SEX/O,O,Other
4,https://undata.un.org/enumerations/SEX,https://undata.un.org/enumerations/SEX/_T,_T,Total or no breakdown
5,https://undata.un.org/enumerations/SEX,https://undata.un.org/enumerations/SEX/_U,_U,Unknown

In [13]:
# Save the two DataFrames as separate sheets in a single Excel file
with pd.ExcelWriter("../data/output/maping_templates.xlsx", engine='xlsxwriter') as writer:
    dimensional_structure_1.to_excel(writer, sheet_name='EMP_structure', index=False, na_rep="")
    code_list_1.to_excel(writer,sheet_name='EMP_codes', index=False, na_rep="")
    dimensional_structure_2.to_excel(writer, sheet_name='GDP_structure', index=False, na_rep="")
    code_list_2.to_excel(writer,sheet_name='GDP_codes', index=False, na_rep="")
    code_list_geography.to_excel(writer, sheet_name="TARGET_cl_geography", index=False, na_rep="")
    code_list_economic_activity.to_excel(writer, sheet_name="TARGET_cl_activity", index=False, na_rep="")
    code_list_sex.to_excel(writer, sheet_name="TARGET_cl_sex", index=False, na_rep="")